{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/chat/index.css') }}" />
    <div id="chat-content">
    </div>
    <div id="box-message">
        <label class="active" for="message">Message</label>
        <input id="message" type="text" onkeypress="onKeyEnter(event)" class="validate">
    </div>
    <script src="{{ asset('assets/chat/index.js') }}"></script>
{% endblock %}