<link rel="stylesheet" href="{{ asset('assets/mouse/index.css') }}" />
<div class="menu">
    <ul class="menu-options">
        <li class="menu-option"><a href="/login"><div class="menu-icon"><i class="fas fa-cog"></i></div><div class="menu-text">Parameters</div></a></li>
        <li class="menu-option"><a href="{{ path('app_logout') }}"><div class="menu-icon"><i class="fas fa-door-closed"></i></div><div class="menu-text">Disconnect</div></a></li>
        <li class="menu-option"><a href=""><div class="menu-icon"></div><div class="menu-text">Background...</div></a></li>
        <li class="menu-option"><a href=""><div class="menu-icon"></div><div class="menu-text">Save As</div></a></li>
        <li class="menu-option"><a href=""><div class="menu-icon"></div><div class="menu-text">OuO</div></a></li>
    </ul>
</div>
<script src="{{ asset('assets/mouse/index.js') }}"></script>