.menu {
    width: 150px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    border-radius: 7px;
    background: rgba(255,255,255, 1);
}
.menu .menu-options {
list-style: none;
padding: 0 0;
}
.menu .menu-options .menu-option {
font-weight: 500;
font-size: 16px;
color: rgb(105,105,105);
padding: 10px 10px 10px 10px;
cursor: pointer;

}
.menu .menu-options .menu-option:hover {
background: rgb(200,200,200);

}
.menu .menu-options .menu-option .menu-icon {
    width: 30px;
    text-align: center;
    display: inline-block;
}
.menu .menu-options .menu-option .menu-text {
    width: 100px;
    display: inline-block;

}